*.class
**/target/

# Package Files #
*.jar
*.war

# Eclipse
.project
.settings/
**/.classpath
**/.tern-project
server/WebContent/

# Emacs
*~

# maven shade plugin
ImageStore/client/dependency-reduced-pom.xml

# Qt
qt-client/build